<h1>Hello Magento</h1>

<?php
foreach ($block->getPostCollection() as $key=>$post){
    echo '<tr>
                    <td>'.$post->getPostId().'</td>
                    <td>'.$post->getName().'</td>
                    <td>'.$post->getPostContent().'</td>
                  </tr>';
}
?>
